h1 {
    text-align: center;
}

header h1{
  font-size: 70px;
  color: #ddd;
  margin-top: 50px;
  margin-bottom: 50px
}

.movie_item {
  word-wrap: break-word;
  cursor: pointer
}

section h2{
  text-align:center;
  word-wrap: break-word;
}
.ember-view aside {
}
.ember-view aside input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;

}
footer p{
  text-align: right;
}

#movie-list{
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  transition: 1s ease;
}

#movie-list div{
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  transition: 1s ease;
}

section > div{
  opacity: 0;
  -webkit-transition: 5s ease;
}
section .is-inserted {
  opacity: 1;
  -webkit-transition: 5s ease;
}
