<div class="container">
    <header>
      <h1>Ember Video</h1>
    </header>
    {{outlet}}
</div>

<footer>
<div class="container">
  <p>
    Brought to you by
    <a href="http://www.ghedamat.com">Ghedamat</a>
  </p>
</div>
</footer>
