<div class="container">
    <header>
    <h1>
      <a {{action goToMovies href=true}}>
        Ember Video
      </a>
    </h1>
    </header>
    {{outlet}}
</div>

<footer>
<div class="container">
  <p>
    Brought to you by
    <a href="http://www.ghedamat.com">Ghedamat</a>
  </p>
</div>
</footer>
