    {{#if movie}}
<h2>
{{ movie.title }}
</h2>

{{movie.path}}
<div class="well">
<a id="player" {{bindAttr href="movie.playPath" }} style="display:block; height:600px;"></a>
<!--%a#player{:href => "/movies/flv/#{@movie.path}", :style => "display:block;width:800px; height:600px;"}
-->
</div>

    {{else}}
      Pick a movie 
    {{/if}}
