<div class="row">
  <div id="movie-list" {{ bindAttr class="hasMovie"}}>
    {{outlet lista}}
  </div>
  <div class="span8">
    {{#if movie}}
      <section>
      {{outlet}}
      </section>
    {{/if}}
  </div>
</div>
